<div class="register-section">
<!--  <div class="col-sm-3"></div>-->
  <div style="margin: 0 auto;" class="justify-content-center">
    <div class="card" style="    max-width: 1000px; margin: auto;">
      <div class="card-header" style="text-align: center">
        <h4>Register</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group row">
            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
              Address</label>
            <div class="col-md-8">
              <input type="text" [formControlName]="'email'" id="email_address" class="form-control"
                     name="email-address">
              <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">Please enter a valid email</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">User Name</label>
            <div class="col-md-8">
              <input type="text" [formControlName]="'username'" class="form-control">
              <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                    class="help-block">Please enter a valid username</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
            <div class="col-md-8">
              <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password">
              <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                    class="help-block">Please enter a valid password</span>
            </div>
          </div>

          <span class="col-md-8 offset-md-4">
              <button type="submit" class="register">
                Register
              </button>
              <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
            </span>
        </form>
      </div>
    </div>
  </div>
<!--  <div class="col-sm-3"></div>-->
</div>
