<div class="col-sm-3 sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="col-sm-9 body">
  <div class="container">
      <hr/>
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <div class="panel-title pull-left">
            <strong><span class="glyphicon glyphicon-th"></span> Stage List</strong>
          </div>
          <div class="pull-right">
            <a class="btn btn-success btn-sm">Create</a>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="payment" class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>#ID</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let stage of stages">
                <td>{{stage.name}}</td>
                <td class="text-center">
                  <a class="update" data="{{stage.ID}}">
                    <i class="fa fa-exclamation-circle"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <!--Create / Edit Transaction-->
  <div id="bin" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close clz">&times;</button>
          <h4 class="modal-title">Office</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="">
            <!--hidden fields required for edit-->
            <div class="form-group">
              <label for="" class="col-sm-4 control-label"></label>
              <div class="col-sm-8">
                <!--form field-->
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-success save">Save</button>
          <button type="button" class="btn btn-default btn-danger clz">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
