<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#configure"></a>
      </h4>
    </div>
    <h2>Dashboard</h2>
    <hr/>
    <div id="configure" class="panel-collapse collapse">
      <ul class="nav nav-sidebar panel-body">
        <a routerLink="/stage" class="float-right sign-up mr-2">Stages</a>
        <a routerLink="/user" class="float-right sign-up mr-2">User</a>
        <a routerLink="/stageactor" class="float-right sign-up mr-2">Stage Actor</a>
        <a routerLink="/application" class="float-right sign-up mr-2">Application</a>

      </ul>
    </div>
  </div>
  <ul class="nav nav-sidebar panel-body">
    <a routerLink="/logout" class="float-right login mr-2">Logout</a>
  </ul>
</div>
