<div class="col-3 sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="col-9 body">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="d-flex justify-content-between mb-3">
          <div class="p-2"><span class="btn"><i class="fa fa-th-list" aria-hidden="true"></i> Application details</span>
          </div>
          <!--          <div class="p-2"><a class="btn bg-info create" (click)="open(content)"> Create </a></div>-->
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <form [formGroup]="applicationForm" id="form" (ngSubmit)="create()">
            <div class="form-group row">
              <label for="officeName" class="col-md-4 col-form-label text-md-right">Company</label>
              <div class="col-md-6">
                <input type="text" id="officeName" class="form-control" [formControlName]="'officeName'"
                       name="officeName"
                       required autofocus>
              </div>
            </div>
            <div class="form-group row">
              <label for="officeAddress" class="col-md-4 col-form-label text-md-right">Address</label>
              <div class="col-md-6">
                <input type="text" id="officeAddress" class="form-control" [formControlName]="'officeAddress'"
                       name="officeAddress"
                       required autofocus>
                <!--            <span *ngIf="!applicationForm.get('officeAddress').valid && applicationForm.get('officeAddress').touched">
                                  Please provide a valid stage Actor name
                                </span>-->
              </div>
            </div>
            <div class="form-group row">
              <label for="designation" class="col-md-4 col-form-label text-md-right">Designation</label>
              <div class="col-md-6">
                <input type="text" id="designation" class="form-control" [formControlName]="'designation'"
                       name="designation"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="reqfund" class="col-md-4 col-form-label text-md-right">Request Fund</label>
              <div class="col-md-6">
                <input type="text" id="reqfund" class="form-control" [formControlName]="'reqfund'"
                       name="reqfund"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="yearlyIncome" class="col-md-4 col-form-label text-md-right">Yearly Income</label>
              <div class="col-md-6">
                <input type="text" id="yearlyIncome" class="form-control" [formControlName]="'yearlyIncome'"
                       name="yearlyIncome"/>
              </div>
            </div>
            <!-- <div class="form-group row">
               <label for="stage" class="col-md-4 col-form-label text-md-right">Stage</label>
               <div class="col-md-6">
                 <select id="stage" class="form-control" [formControlName]="'stage'">
                   <option value="" selected disabled >Select Stage</option>
                   <option *ngFor="let stage of a" [ngValue]="stage">{{stage.name}}</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
               <label for="employee" class="col-md-4 col-form-label text-md-right">Employee</label>
               <div class="col-md-6">
                 <select id="employee" class="form-control" [formControlName]="'employee'">
                   <option value="" selected disabled >Select Employee</option>
                   <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.fullName}}</option>
                 </select>
               </div>
             </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
