<div class="col-3 sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="col-9 body">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="d-flex justify-content-between mb-3">
          <div class="p-2"><span class="btn"><i class="fa fa-th-list" aria-hidden="true"></i> User List</span></div>
          <div class="p-2"><a class="btn bg-info create" (click)="open(content)"> Create </a></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle>Employee List</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Role</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of employees; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.designation}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.role}}</td>
                    <td class="text-center">
                      <a class="update" data="{{user.id}}">
                        <i class="fa fa-exclamation-circle"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>User List</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.mobile}}</td>
                    <td class="text-center">
                      <a class="update" data="{{user.id}}">
                        <i class="fa fa-exclamation-circle"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <!--Create / Edit Stage-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Create User</h5>
      <button type="button" class="close" aria-label="Close" (click)="onClose(modal)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" id="form" (ngSubmit)="create()">
        <div class="form-group row">
          <label for="fullName" class="col-md-4 col-form-label text-md-right">Full name</label>
          <div class="col-md-6">
            <input type="text" id="fullName" class="form-control" [formControlName]="'fullName'" name="fullName"
                   required autofocus>
            <span *ngIf="!userForm.get('fullName').valid && userForm.get('fullName').touched">
                    Please provide a full name
                  </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-md-4 col-form-label text-md-right">E-mail</label>
          <div class="col-md-6">
            <input type="text" id="email" class="form-control" [formControlName]="'email'"
                   name="email"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="mobile" class="col-md-4 col-form-label text-md-right">Mobile</label>
          <div class="col-md-6">
            <input type="text" id="mobile" class="form-control" [formControlName]="'mobile'"
                   name="mobile"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>
          <div class="col-md-6">
            <input type="text" id="address" class="form-control" [formControlName]="'address'"
                   name="address"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
          <div class="col-md-6">
            <input type="text" id="username" class="form-control" [formControlName]="'username'"
                   name="username"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
          <div class="col-md-6">
            <input type="text" id="password" class="form-control" [formControlName]="'password'"
                   name="password"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="role" class="col-md-4 col-form-label text-md-right">User Role</label>
          <div class="col-md-6">
            <select id="role" class="form-control" [formControlName]="'role'">
              <option value="" selected disabled>Select Role</option>
              <option value="USER">User</option>
              <option value="EMPLOYEE">Employee</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="designation" class="col-md-4 col-form-label text-md-right">Designation</label>
          <div class="col-md-6">
            <input type="text" id="designation" class="form-control" [formControlName]="'designation'"
                   name="designation"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-default btn-outline-success save" form="form">Save</button>
      <button type="button" class="btn btn-outline-danger" (click)="onClose(modal)">Close</button>
    </div>
  </ng-template>


</div>
